.App {
  text-align: center;
}

/* Login */

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.row-form {
  height: 100vh;
}

/* Notes */

.btn-grp {
  margin: 10px;
}
